<footer class="bg-black">
    <ul class="container text-center py-16">
        <li class="d-inline-block pe-10">
            <a href=""><img src="../assets/images/fb.png" alt="facebook"></a>
        </li>
        <li class="d-inline-block pe-10">
            <a href=""><img src="../assets/images/instagram.png" alt="instagram"></a>
        </li>
        <li class="d-inline-block">
            <a href=""><img src="../assets/images/line.png" alt="line"></a>
        </li>
    </ul>
</footer>