<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <main class="main my-40">
      <article class="container">
          <h1 class="fs-32 fs-letter-12 lh-base">VITO</h1>
          <div class="text-center">
              <img  src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week1/vito.png?raw=true" alt="vito">
          </div>
          <h2 class="w-50 ms-auto fs-32 fs-letter-12 lh-base">RESUME</h2>
      </article>
      <article class="" style="background-color: #EFEFEF;">
          <section class="container">
              <p class="w-50 py-12 ms-auto fs-8">I'm Vito, a UI Designer with 5+ years of experience. I create visually appealing interfaces for web and mobile apps. Proficient in Sketch, Adobe XD, Figma, HTML, CSS, and JavaScript. I enjoy collaborating with others to create high-quality products.</p>
          </section>
      </article>
      <article class="mt-20">
          <section class="container">
            <ul class="w-50">
                <li>
                    <h3 class="border-bottom border-3 border-secondary fs-10 text-secondary lh-base">Vito Evans</h3>
                    <ul class="fs-6 pt-4 pb-10">
                        <li class="pb-2"><a href="#"></a>456 Walnut Avenue, Someville, USA</li>
                        <li class="pb-2"><a href="tel:++1 123 456 7890"></a>+1 123 456 7890</li>
                        <li class="pb-2"><a href="mailto:info@hexschool"></a>info@hexschool.com</li>
                        <li class=""><a href="https://www.infohexschool.com">www.infohexschool.com</a></li>
                    </ul>
                </li>
                <li>
                    <h3 class="border-bottom border-3 border-secondary fs-10 text-secondary lh-base">Education</h3>
                    <ul class="pt-4 pb-10">
                        <li class="pb-2">
                            <p class="fs-5 text-third">2014-2018</p>
                            <p class="fs-6">Bachelor of Science in Business Administration, University of California, Los Angeles</p>
                        </li>
                        <li class="pb-2">
                            <p class="fs-5 text-third">2012-2014 </p>
                            <p class="fs-6">Associate of Arts in Graphic Design, San Francisco State University</p>
                        </li>
                        <li class="pb-2">
                            <p class="fs-5 text-third">2008-2012 </p>
                            <p class="fs-6">High School Diploma, Lincoln High School</p>
                        </li>
                    </ul>
                </li>
                <li>
                    <h3 class="border-bottom border-3 border-secondary fs-10 text-secondary lh-base">Work</h3>
                    <ul class="pt-4 pb-10">
                        <li class="pb-2">
                            <p class="fs-5 text-third">2018-2021</p>
                            <p class="fs-6">Marketing Manager, ABC Company</p>
                        </li>
                        <li class="pb-2">
                            <p class="fs-5 text-third">2016-2018</p>
                            <p class="fs-6">Sales Associate, XYZ Corporation</p>
                        </li>
                        <li class="pb-2">
                            <p class="fs-5 text-third">2014-2016</p>
                            <p class="fs-6">Customer Service Representative, QRS Inc.</p>
                        </li>
                    </ul>
                </li>
                <li>
                    <h3 class="border-bottom border-3 border-secondary fs-10 text-secondary lh-base">Awards</h3>
                    <ul  class="pt-4 pb-10">
                        <li class="fs-6">
                            <p class="pb-3">Best in Show Award, National Advertising Awards, 2020</p>
                            <p class="pb-3">Honorable Mention, International Design Competition, 2019</p>
                            <p class="">People's Choice Award, Local Art Exhibition, 2018</p>
                        </li>
                    </ul>
                </li>
            </ul>
          </section>
      </article>
  </main>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
